/* Header Grid */
header {
  display: grid;
  grid-template-columns: 150px auto;
  padding: 20px 0;
}

#logo_link {
  justify-self: center;
  align-self: center;
}

/* Hero Section */
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  position: relative;
  height: 70vh;
  overflow: hidden;
}

#hero-box {
  grid-column: 1 / 4;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#hero img#hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#hero-msg {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-box a.book {
  background-color: var(--button-bg);
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.button-box a.book:hover {
  background-color: var(--button-hover-bg);
}
